h1.header Listing books

table
  thead
    tr
      th.header Title
      th
      th
      th
  tbody
    .page
      - @books.each_with_index do |book, index|
        tr.book
          td = book.title
          td
            img.qr src=book.qr

          td.link = link_to 'Show', book
          td.link = link_to 'Edit', edit_book_path(book)
          td.link = link_to 'Destroy', book, data: {confirm: 'Are you sure?'}, method: :delete

br
.link = link_to 'Import Goodreads List', new_import_path
.link = link_to 'New Book', new_book_path

javascript:
  var books = document.getElementsByClassName("book");
  for (var i = 0; i < books.length; i++) {
    if (i % 10 === 8 || i % 10 === 9) {
      books[i].className = books[i].className + " end-of-page"
    }
    if (i % 2 == 0) {
        books[i].className = books[i].className + " left"
    } else {
        books[i].className = books[i].className + " right"
    }
  }


scss:

  @page {
    @page :right {
      @bottom-right {
        content: none;
      }
    }
    size: 8.5in 11in;
  }

  @media print {
    @page {
      margin: 0;
    }
    body {
      margin: 1.6cm;
    }
    .header, .link {
      display: none;
    }
    .book {
      height: 5cm;
    }
  }

  .qr {
    margin-left: 40px;
    margin-right: 40px;
  }

  .book {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .end-of-page {
    margin-bottom: 125px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
